@import "tailwindcss";

body{
    margin:0;
    background:#020617;
    color:white;
    font-family:Inter,sans-serif;
}
#image{
    background-image: url("./assets/nebulaimg3.jpg");
    background-repeat: repeat-y;
    background-position: cover;
}

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-track{
    background:#020617;
}

::-webkit-scrollbar-thumb{
    background:#0ea5e9;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#38bdf8;
}